In [1]:
import pandas as pd

In [2]:
pop = pd.read_excel("COVID-19-jp/2001stjin.xls",header=3)
pop.head()

,Unnamed: 0,Unnamed: 1,男,女,計,Unnamed: 5,転入者数（国内）,転入者数（国外）,転入者数（計）,出生者数,...,転出者数（計）,死亡者数,その他（計）.1,計（Ｂ）,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,合計,62036028,65102005,127138033,59071519,5392557,685537,6078094,884767,...,5772422,1386212,181466,7340100,-305530,-0.239737,-501445,-0.393464,195915,0.153727
1,10006.0,北海道,2488629,2779133,5267762,2790286,242721,18253,260974,31174,...,261495,65494,3816,330805,-36651,-0.690953,-34320,-0.647008,-2331,-0.043945
2,20001.0,青森県,604405,671378,1275783,592822,33695,2209,35904,7195,...,41408,18416,573,60397,-16926,-1.309343,-11221,-0.868022,-5705,-0.441321
3,30007.0,岩手県,594846,640671,1235517,528691,36229,2650,38879,7006,...,42292,17849,614,60755,-14625,-1.169867,-10843,-0.867341,-3782,-0.302526
4,40002.0,宮城県,1117911,1174474,2292385,1006676,102631,6195,108826,15058,...,108716,25232,1739,135687,-10713,-0.465156,-10174,-0.441753,-539,-0.023403

In [3]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   47 non-null     float64
 1   Unnamed: 1   48 non-null     object
 2   男            48 non-null     int64
 3   女            48 non-null     int64
 4   計            48 non-null     int64
 5   Unnamed: 5   48 non-null     int64
 6   転入者数（国内）     48 non-null     int64
 7   転入者数（国外）     48 non-null     int64
 8   転入者数（計）      48 non-null     int64
 9   出生者数         48 non-null     int64
 10  その他（計）       48 non-null     int64
 11  計（Ａ）         48 non-null     int64
 12  転出者数（国内）     48 non-null     int64
 13  転出者数（国外）     48 non-null     int64
 14  転出者数（計）      48 non-null     int64
 15  死亡者数         48 non-null     int64
 16  その他（計）.1     48 non-null     int64
 17  計（Ｂ）         48 non-null     int64
 18  Unnamed: 18  48 non-null     int64
 19  Unnamed: 19  48 non-null     float64
 20  Unnamed: 20  48 non-null     int64
 21  Unnamed: 21  48 non-null     float64
 22  Unnamed: 22  48 non-null     int64
 23  Unnamed: 23  48 non-null     float64
dtypes: float64(4), int64(19), object(1)
memory usage: 9.1+ KB

In [26]:
df = pd.DataFrame()
df["都道府県名"] = pop["Unnamed: 1"]
df["人口"] = pop["計"]
df = df.loc[df["都道府県名"]!="合計"].reset_index(drop=True)

In [27]:
df.head()

  都道府県名       人口
0   北海道  5267762
1   青森県  1275783
2   岩手県  1235517
3   宮城県  2292385
4   秋田県   985416